<nav class="menubar" id="admin-menubar">
  <ul>
    <%= menu_link_to "管理トップ", :admin_root %>
    <%= menu_link_to "ユーザーの管理", :admin_users %>
    <%= menu_link_to "サードプレイス記事の管理", "#" %>
    <%= menu_link_to "トップ", :root %>
  </ul>
</nav>